{% extends 'base-with-header.html' %}

{% block meta %}
<title>My Profile</title>
{% load static %}
<script src="{% static 'js/saveProfile.js' %}" type="text/javascript"></script>

{% endblock meta %}

{% block content %}
<div class="d-flex flex-column min-vh-75 justify-content-center align-items-center">
    <form class="#" method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <h1 style="text-align:center">My Profile</h1>
        </div>
        <div class="row">
            <h1 style="text-align:center">
                <img class="profile-pic" src="{{ request.user.userprofile.image.url }}">
            </h1>
        </div>

        <div class="row top-buffer">
            <div class="col-xl-2 align-self-center">
                <label class="form-lable" for="#">Username</label>
            </div>
            <div class="col align-self-center">
                <input type="text" name="alias" value="{{ request.user }}" id="#" class="form-control" disabled>
            </div>
        </div>

        <div class="row top-buffer">
            <div class="col-xl-2 align-self-center">
                <label class="form-lable" for="#">Alias</label>
            </div>
            <div class="col align-self-center">
                <input type="text" name="alias" value="{{ request.user.userprofile.alias }}" id="#" class="form-control"
                    pattern="^[A-Za-z0-9._~-]*$">
                <div class="invalid-feedback" id="feedback-url">
                    Masukkan nama forum yang sesuai (hanya alphanumeric (case sensitive), ".", "_", "~", dan "-").
                </div>
                <div class="invalid-feedback" id="feedback-exist">
                    Sudah ada forum dengan nama itu.
                </div>
            </div>
        </div>

        <div class="row top-buffer">
            <div class="col-xl-2 align-self-center">
                <label class="form-lable" for="#">Profile Picture</label>
            </div>
            <div class="col align-self-center">
                <input type="file" id="img" name="image" accept="image/*" class="form-control">
            </div>
        </div>
        
        <input type="submit" name="submit" value="Save" class="btn btn-custom mx-auto d-block top-buffer">
    </form>
</div>

{% endblock content %}