{% extends 'base.html' %}

{% block meta %}
<title>Registrasi Akun</title>
{% load static %}
<link rel="stylesheet" href="{% static 'css/base.css' %}">
{% endblock meta %}

{% block content %} 

<div class = "d-flex flex-column min-vh-100 justify-content-center align-items-center">
    
        <form method="POST" class="regist">  
            <div class="row">
                <h1 style="text-align:center">Registration Form</h1>
            </div>
            <div class="row top-buffer">
                <div class="col-xl align-self-center">
                    {% csrf_token %}  
                    <table class="text-start table table-borderless vertical-align">  
                        {{ form.as_table }}  
                        <tr>  
                            <td></td>
                            <td><input class="btn btn-custom" type="submit" name="submit" value="Daftar"/></td>  
                        </tr>  
                    </table>  
                </div>
            </div>    
            
        </form>

    {% if messages %}  
        <ul>   
            {% for message in messages %}  
                <li>{{ message }}</li>  
                {% endfor %}  
        </ul>   
    {% endif %}

</div>  

{% endblock content %}