.card {
    width: 17rem;
    box-shadow: 0 0  8px rgb(212, 206, 206);
}
.card:hover {
    transform: translateY(-3px);
}
button {
    border: none;
    border-radius: 4px;
}
button:hover {
    box-shadow: 0 0 4px rgb(152, 144, 144);
}
button:active {
    transform: translateY(-2px);
}
.btn {
    border: none;
    margin-top: auto;
    position: absolute;
    bottom: 10px;
    left: 90px;
}
.delete-btn {
    background-color: rgb(197, 38, 38);
    color: white;
    margin-top: auto;
    position: absolute;
    bottom: 10px;
}
.close {
    background: none;
}
h2{
    color:white;
}