{% extends 'base.html' %}

{% block meta %}
<title>Create Post</title>
{% load static %}
<link rel="stylesheet" href="{% static 'css/base.css' %}">
{% endblock meta %}

{% block content %}
<div class="d-flex flex-column min-vh-100 justify-content-center align-items-center">
    <form method="POST" action="">
        {% csrf_token %}
        <div class="row">
            <h1 style="text-align:center">Create Post</h1>
        </div>
        <div class="row top-buffer">
            <div class="col-xl-2 align-self-center">
                <label class="form-lable" for="id_title">Name</label>
            </div>
            <div class="col align-self-center">
                <input type="text" name="title" placeholder="Nama Penjahat" id="id_title" class="form-control">
            </div>
        </div>
        <div class="row top-buffer">
            <div class="col-xl-2 align-self-center">
                <label class="form-lable" for="id_description">Description</label>
            </div>
            <div class="col align-self-center">
                <input type="text" name="description" placeholder="Jelaskan Kejahatannya" id="id_description"
                    class="form-control">
            </div>
        </div>
        <div class="row top-buffer">
            <div class="col-xl-2 align-self-center">
                <label class="form-lable" for="id_group">Group Forum</label>
            </div>
            <div class="col align-self-center">
                <select name="group" id="id_group" class="form-select">
                    {% for forum in forums %}
                    <option value="{{forum.id}}">{{forum.title}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <input type="submit" name="submit" value="Create" class="btn btn-primary mx-auto d-block top-buffer">
        {% if messages %}
        <div class="d-flex top-buffer justify-content-center">
            <ul class="list-inline mx-auto justify-content-center">
                {% for message in messages %}
                <li class="list-inline-item">{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </form>



</div>

{% endblock content %}