{% extends 'base-with-header.html' %}

{% block meta %}
{% load static %}
{% endblock meta %}

{% block content %}


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Comments</title>
</head>

<body>
    <!--content yang dikomen-->

    <div class="row justify-content-center ">
        <div class="card col-lg-4 col-md-6 col-sm-12" style="width: 60rem;">
            <div class="card-body">
                <h4 class="card-text">{{content.title}}</h4>
                <p class="card-text">Written by: {{content.creator.alias}} #{{content.creator.id}}</p>
                <p class="card-text">{{content.description}}</p>
            </div>
            <div class="card-footer">
                <form id="form-comment" method="POST">
                    {% csrf_token %}
                    <table style="width: 30rem;">
                        <tr>Comments:</tr>
                        <tr><br></tr>
                        <tr><input type="text" name="comment" placeholder="Type here.." class="form-control"></tr>
                        <tr><br></tr>
                        <tr><input class="btn-comment" type="submit" value="Submit"></tr>
                    </table>
                </form>
            </div>
        </div>
    </div>
    

    <!--komen komennya-->
    <div class="row justify-content-center" style="margin-inline:100px; margin-top:25px;">
        {% for comment in list_comment %}
        <div class="card col-lg-4 col-md-6 col-sm-12" style="width: 15rem;">
            <div class="card-body">
                <h4 class="card-text">{{comment.user.alias}} #{{comment.user.id}}</h4>
                <p class="card-text">{{comment.date_created}}</p>
                <p class="card-text">{{comment.comment}}</p>
            </div>
        </div>
        {% endfor %}
    </div>
   

</body>
{% endblock content %}