{% extends 'base-with-header.html' %}

{% block meta %}
{% load static %}
{% endblock meta %}

{% block content %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Timeline</title>
</head>

<body>

    <h1>Timeline</h1>
    <h3>Halo {{user_name}}</h3>
    <p>   </p>

    <div class="row justify-content-center" style="margin-inline:100px; margin-top:50px;">
        
        {% for post in list_forum %}
        {% if post.is_captured %}
            <div class="card" style="width: 20rem; border-color: #DA0037;">
                <div class="card-header" style="background-color:white;">
                    <h2 class="card-title">{{post.title}}</h2>
                    <p class="card-text">Written by: Anonymous #{{post.creator.id}}</p>
                    <p class="card-text">{{post.date_created}}
                </div>
                <div class="card-body">
                    <p class="card-text">{{post.description}}</p>

                    <p class="card-text">Tanggal tertankap{{post.date_captured}}</p>
                    <br>
                    <a href="{{request.path}}{{post.id}}/upvote" class="btn-upvote">&#128316 Upvote {{post.contentupvote.get_upvote}}</a>
                    <a href="{{request.path}}{{post.id}}/comment" class="btn-reply">&#128488 Reply</a>

                    <br>
                </div>
            </div>
        {% else %}
            <div class="card" style="width: 20rem;border-color: white;">
                <div class="card-header" style="background-color:white;">
                    <h2 class="card-title">{{post.title}}</h2>
                    <p class="card-text">Written by: Anonymous #{{post.creator.id}}</p>
                    <p class="card-text">{{post.date_created}}
                </div>
                <div class="card-body">
                    <p class="card-text">{{post.description}}</p>
                    {% if post.is_captured %}
                    <p class="card-text">{{post.date_captured}}</p>
                    {% endif %}
                    <br>
                    <a href="{{request.path}}{{post.id}}/upvote" class="btn-upvote">&#128316 Upvote {{post.contentupvote.get_upvote}}</a>
                    <a href="{{request.path}}{{post.id}}/comment" class="btn-reply">&#128488 Reply</a>
                </div>
                <!--div class="card-footer" style="background-color:white;">
                    <a href="{{request.path}}{{post.id}}/upvote" class="btn">&#128316 Upvote {{post.contentupvote.get_upvote}}</a>
                    <a href="{{request.path}}{{post.id}}/comment" class="btn">&#128488 Reply</a>
                </div-->
            </div>
        {% endif %}
        {% endfor %}
    </div>
</body>
{% endblock content %}